#isp {
    font-family: 'Merriweather', serif;
    font-size: 11px;
}
#port {
    font-size: 17px;
    font-family: 'Arvo', serif;
}
#hostnames {
    font-family: 'Arvo', serif;
}
#location {
    font-family: 'Arvo', serif;
}
#timestamp {
    font-family: 'Merriweather', serif;
}